In [12]:
import os
from dotenv import load_dotenv
import mysql.connector as connector

In [13]:
load_dotenv()

USER = os.getenv('USER')
PASSWORD = os.getenv('PASSWORD')

### Task 1

In [14]:
connection = connector.connect(user = USER, password = PASSWORD)
cursor = connection.cursor()
cursor.execute('USE LittleLemonDM;')

### Task 2

In [15]:
show_tables_query = "SHOW tables;" 
cursor.execute(show_tables_query)
results = cursor.fetchall()
for i in results:
    print(i)

('Bookings',)
('CustomerDetails',)
('Menu',)
('MenuItems',)
('Orders',)
('OrdersDeliveryStatus',)
('ordersview',)
('StaffInformation',)

### Task 3

In [16]:
q = """
SELECT
DISTINCT
c.Name,
c.ContactDetails
FROM CustomerDetails c
INNER JOIN Bookings b
ON b.idCustomer = c.idCustomer
INNER JOIN Orders o
ON o.idBooking = b.idBooking
WHERE o.TotalCost > 60;
"""
cursor.execute(q)
results = cursor.fetchall()
print(cursor.column_names)
for i in results:
    print(i)

('Name', 'ContactDetails')
('Allice', '00003')
('Elie', '00001')